@model IEnumerable<LeGiaGrass.Models.ServiceViewModel>


<div class="col-md-4">
							<div class="category animation" data-animation="fadeInLeft" data-animation-delay="0s">
								<a href="@Model.ElementAt(0).Alias" class="category__image">
									<figure><img src="@Model.ElementAt(0).Image" alt="" class="img-responsive" /></figure>
								</a>
								<div class="clearfix"></div> <a href="@Model.ElementAt(0).Alias" class="category__title">@Model.ElementAt(0).Name</a>
								<div class="category__text">
									@Html.Raw(Model.ElementAt(0).Content)
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="category animation" data-animation="fadeIn" data-animation-delay="0.5s">
								<a href="@Model.ElementAt(1).Alias" class="category__image"><img src="@Model.ElementAt(1).Image" alt="" class="img-responsive" /></a>
								<div class="clearfix"></div> <a href="@Model.ElementAt(1).Alias" class="category__title">@Model.ElementAt(1).Name</a>
								<div class="category__text">
									@Html.Raw(Model.ElementAt(1).Content)
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="category animation last" data-animation="fadeInRight" data-animation-delay="0s">
								<a href="@Model.ElementAt(2).Alias" class="category__image"><img src="@Model.ElementAt(2).Image" alt="" class="img-responsive" /></a>
								<div class="clearfix"></div> <a href="@Model.ElementAt(2).Alias" class="category__title">@Model.ElementAt(2).Name</a>
								<div class="category__text">
									@Html.Raw(Model.ElementAt(2).Content)
								</div>
							</div>
						</div>