
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
@model List<PostDto>

@foreach (var post in Model)
{
    <div class="blog-post">

        <div class="post-image">
            <a href="blog-single.html"><img src="@post.SmallImage" alt=""></a>
            <div class="post-link-wrapper">
                <div class="vert-wrap">
                    <div class="vert">
                        <a href="/post/@post.Url" class="post-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <h3 class="post-title"><a href="/post/@post.Url">@post.Title</a></h3>
            <div class="post-date"><span class="day">@post.PostedOn.ToString("dd")</span><span class="month">@post.PostedOn.ToString("MMM")</span></div>
            @*Author*@
            <div class="post-author">Le Gia</div>
            <div class="post-teaser">
                @Html.Raw(post.Excerpt?.Content)
            </div>
            @*<div class="post-meta"><i class="icon icon-speech"></i><span>3</span></div>*@
        </div>
    </div>
}
<div class="divider"></div>
<pioneer-pagination info="@ViewBag.PaginatedMeta" route="/blog"></pioneer-pagination>
<div class="divider"></div>
<div class="text-center"><a class="btn btn--wd view-more-post" data-load="post-more-ajax.txt">More Posts</a></div>
<div id="postPreload"></div>
