@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    ViewData["Title"] = "Danh sách bài viết";
}

@model IEnumerable<LeGiaGrass.Models.PostViewModel>


@foreach (var post in Model)
{
    <div class="blog-post">
        <div class="post-image">
            <a href="/blog/post/@post.Alias"><img src="@post.Image" alt=""></a>
        </div>
        <div class="post-content">
            <h3 class="post-title"><a href="/blog/post/@post.Alias">@post.Name</a></h3>
            <div class="post-date"><span class="day">@post.CreateDate.ToString("dd")</span><span class="month">@post.CreateDate.ToString("MMM")</span></div>
            @*Author*@
            <div class="post-author">Admin</div>
            <div class="post-teaser">
                @Html.Raw(post.ShortDescription)
            </div>
        </div>
    </div>
}

<div class="divider"></div>
<div id="postPreload"></div>