@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

@model LeGiaGrass.Models.PostViewModel

<div class="blog-post single">
    <div class="post-image">
        <a href="#"><img src="@Model.Image" alt=""></a>
        <div class="post-image-over"></div>
    </div>

    <div class="post-content">
        <h3 class="post-title">@Model.Name</h3>
        <div class="post-date">
            <span class="day">@Model.CreateDate.ToString("dd")</span>
            <span class="month">@Model.CreateDate.ToString("MMM")</span>
        </div>
        <div class="post-author">
            <div class="text-center"><img src="/images/blog/userpic.png")" alt=""></div>
            Admin
        </div>
        <div class="post-teaser">
            <p><i>@Html.Raw(Model.ShortDescription)</i></p>
            @Html.Raw(Model.Content)
           
        </div>
    </div>

</div>
<div class="divider divider--md"></div>


