@model LeGiaGrass.Models.FooterViewModel

<!--Footer-->
<footer class="footer">
    <div class="footer__column-links">
        <div class="back-to-top"><a href="#top"><span class="icon-tree"></span></a></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3"> <img src="~/images/guarantee.png" class="img-responsive" alt="" /> </div>
                <div class="col-sm-6 col-md-3 mobile-collapse">
                    <h5 class="title mobile-collapse__title">Thông Tin </h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="/contact">Địa Chỉ</a></li>
                            <li><a href="#">Đánh Giá</a></li>
                            <li><a href="#">Tuyển Dụng</a></li>
                            <li><a href="#">Đối Tác</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mobile-collapse">
                    <h5 class="title mobile-collapse__title">Sử Dụng</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Chính Sách</a></li>
                            <li><a href="#">Điều Khoản</a></li>
                            <li><a href="/contact">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mobile-collapse mobile-collapse--last">
                    <h5 class="title mobile-collapse__title">Công Ty</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li>@Model.Name</li>
                            <li>@Model.Address</li>
                            <li><a href="mailto:@Model.Email">@Model.Email</a></li>
                            <li>@Model.Phone</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="pull-right col-sm-6 col-md-3 col-lg-3">
                <div class="social-links">
                    <ul>
                        <li>
                            <a class="icon icon-twitter-logo-button" href="@Model.Twitter"></a>
                        </li>
                        <li>
                            <a class="icon icon-facebook-logo-button" href="@Model.Facebook"></a>
                        </li>
                        <li>
                            <a class="icon icon-google-plus" href="@Model.Google"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-right col-sm-6 col-md-5 col-lg-4">
                <div class="phone">
                    <div><span class="custom-color hidden-xs">GỌI NGAY: </span> <span class="phone-number">@Model.Hotline</span><i class="icon icon-telephone"></i></div>
                    <div class="phone-sm">@Model.BusinessHours</div>
                </div>
            </div>
            <div class="pull-left col-sm-12 col-md-3 col-lg-4">
                <div class="copyright">© 2017 <a href="#">@Model.Name</a>.</div>
            </div>
        </div>
    </div>
</footer>