@model IEnumerable<LeGiaGrass.Models.ServiceHomeViewModel>

<div class="services-block">
@foreach(var s in Model)
{
    var slink = "/dich-vu/" + s.Alias;
    <a href="@slink" class="service iconmove light ">
        <div class="service-image image-scale"><img src="@s.Image" alt="@s.Alias"></div>
            <div class="caption">
                <div class="vert-wrap">
                    <div class="vert">
                        <div class="service-title">@s.Name
                        </div>
                        @s.ShortDescription
                    </div>
                 </div>
            </div>
    </a>
}
</div>
