@model LeGiaGrass.Models.HeaderViewModel

<div class="navbar-header">
    <div class="container">
        <button type="button" class="navbar-toggle" id="slide-nav"><i class="icon icon-menu"></i></button>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <!--  Logo  -->
                <a class="logo" href="/"> <img class="logo-default" src="/images/logo/legia.png" alt="" /> <img class="logo-mobile" src="/images/logo/legia.png" alt="" /> </a>
                <!-- End Logo -->
            </div>
            <div class="visible-lg col-lg-3">
                <div class="slogan"> @Model.Slogan </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="phone">
                    <div><span class="custom-color hidden-xs">GỌI NGAY: </span> <span class="phone-number">@Model.Hotline</span><i class="icon icon-telephone"></i></div>
                    <div class="phone-sm hidden-xs">@Model.BusinessHours</div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="social-links">
                    <ul>
                        <li>
                            <a class="icon icon-twitter-logo-button" href="@Model.Twitter"></a>
                        </li>
                        <li>
                            <a class="icon icon-facebook-logo-button" href="@Model.Facebook"></a>
                        </li>
                        <li>
                            <a class="icon icon-google-plus" href="@Model.Google"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__search"> <a href="#" class="search-open"><span class="icon icon-magnifying-glass"></span></a> </div>
    </div>
</div>