@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section headEnd
{
    <link href="/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="/admin/app.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/bootbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @*<link href="www.tinymce.com/css/codepen.min.css" rel="stylesheet" />*@
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=vebe98lehv2h0hwhwtez6y2q1xcigo10fw2qvrkjbwl00d4u"></script>

}
<section class="body-content-admin">
    <header>
        <div class="clearfix">
            <div class="home float-left">
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    LGG
                </a>
            </div>
            <div class="float-right">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </header>
    <nav class="nav-admin">
        <ul class="menu vertical">
            <li class="@(ViewBag.Selected == "posts" ? "selected" : "" )">
                <a href="/admin/posts/index">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    POSTS
                </a>
            </li>
            <li class="@(ViewBag.Selected == "categories" ? "selected" : "" )">
                <a href="/admin/categories/index">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    CATEGORIES
                </a>
            </li>
            <li class="@(ViewBag.Selected == "tags" ? "selected" : "" )">
                <a href="/admin/tags/index" class="margin-zero">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    TAGS
                </a>
            </li>
            <li class="@(ViewBag.Selected == "companies" ? "selected" : "" )">
                <a href="/admin/companies/index" class="margin-zero">
                    <i class="fa fa-copyright" aria-hidden="true"></i>
                    COMPANIES
                </a>
            </li>
        </ul>
    </nav>
    <div class="admin-canvas">
        @RenderBody()
    </div>
</section>
@section bodyEnd {}
@section Scripts{
    @RenderSection("Scripts", false)
    <script>
        $(function () {
            tinymce.init({
                selector: '.tinyEditor',
                height: 500,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
                ],
                toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
                image_advtab: true,
                templates: [
                    { title: 'Test template 1', content: 'Test 1' },
                    { title: 'Test template 2', content: 'Test 2' }
                ],
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });

        });
    </script>

}