@model IEnumerable<GalleryDto>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "Pioneer.Pagination.PioneerPaginationTagHelper, Pioneer.Pagination"
@inject IOptions<AppConfiguration> AppConfiguration

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row expanded">
    <div class="col-md-3">
        <div class="admin-canvas-content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <button id="js-gallery-add" class="btn btn-default float-right add">
                            Thêm
                        </button>
                    </div>
                    <ul class="admin-collection-list">
                        @foreach (var gallery in Model)
                        {
                            <li data-gallery-id="@(gallery.GalleryId)"><span>@gallery.Name</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="admin-canvas-content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <span id="galleryId" class="record-id"></span>
                        <button id="saveCommand" class="btn btn-default float-right save">Lưu</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="name" class="label-font">Tên</label>
                            <input type="text" class="form-control height-input" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="name" class="label-font">Hình ảnh</label>
                            <input type="text" class="form-control height-input" id="image" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="fieldset">
                        <legend style="font-size:1.40rem">Danh mục chủ đề</legend>
                        <span class="admin-post-collection-item">
                            @foreach (var category in (List<CategoryDto>)ViewBag.Categories)
                            {
                                <input type="radio" id="category-@category.CategoryId" data-category-id="@category.CategoryId" name="groupCategories" />
                                <label>@category.Name?.Substring(0, Math.Min(category.Name.Length, 20))</label>
                            }
                        </span>
                    </fieldset>
                </div>
            </div>

        </div>
    </div>
</div>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<LGG.Core.Dtos.CategoryDto>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-box-header panel-heading">
    <div class="panel-title ">Danh sách chủ đề</div>
</div>
<div class="content-box-large box-with-header">
    <a href="/admin/categories/new"><input type="button" class="btn btn-primary" value="Thêm mới" /></a>
    <br /><br />
    <table id="tablesource" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Url</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Tên</th>
                <th>Url</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Url</td>
                    <td style="text-align: right">
                        <a class="btn btn-primary fa fa-pencil" href="/admin/categories/update/@m.CategoryId"></a>
                        <a class="btn btn-danger fa fa-trash-o" onclick="del(@m.CategoryId)"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
</div>

@section scripts{
    <script type="text/javascript">
        function del(id){
        var c = confirm("Bạn có chắc là không muốn hiển chủ đề này ?");
            if(c){
                $.ajax({
                    url: "/admin/categories/delete/" + id,
                    type: "DELETE",
                    dataType: 'json',
                    success: function(mess){
                        window.location.reload();
                    },
                    error: function(error){
                        alert(error);
                    }
                })
            }
        };
    </script>
}