@model IEnumerable<LeGiaGrass.Models.PostViewModel>
    
<h2 class="text-center lined">Tin Tức</h2>
        <div class="row">
            @foreach(var p in Model)
            {
                var plink = "/post/" + @p.Alias;
                <div class="col-sm-4">
                    <div class="blog-preview animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                        <div class="blog-preview-image">
                            <a href="@plink">
                                <img src="@p.Image" alt="@p.Name">
                            </a>
                        </div>
                        <div class="blog-preview-text">
                            <div class="blog-post-title">
                                @Model.ElementAt(0).Name
                            </div>
                            <div class="blog-preview-date">
                                @p.CreateDate.ToString("dd/MM/yyyy")
                            </div>
                            <div class="blog-preview-teaser">
                                @p.ShortDescription
                            </div>
                            <div class="blog-preview-link text-right"><a href="@p.Alias"><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i></a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
           