@{
    ViewData["Title"] = "Welcome to LeGia - Grass";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var galleries = (List<IGrouping<string, GalleryDto>>)ViewBag.Galleries;
    var isFirstGallery = true;
    var indexLastestPost = 0;
    var company = (CompanyDto)ViewBag.Company;
    var events = ((List<GalleryDto>)ViewBag.Events).FirstOrDefault();
    var diffirence = ((List<GalleryDto>)ViewBag.Diffirences).FirstOrDefault();
    string[] serviceDefaultBackground = { "/images/home/service-1-bg.jpg", "/images/home/service-2-bg.jpg", "/images/home/service-3-bg.jpg", "/images/home/service-4-bg.jpg" };
    var random = new Random();
}
@model  LGG.Core.ViewModels.ContactViewModel
@section loaderWrapper{
    <div id="loader-wrapper" class="loader-on">
        <div id="loader" class="mower-loader">
            <div class="mower"> <img src="images/lawnmower.png" alt=""> </div>
            <div class="grass"></div>
            <div class="text">Loading...</div>
        </div>
    </div>
}

<section class="content" id="slider">
    <!-- Slider section -->
    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                @foreach (var slide in (List<GalleryDto>)ViewBag.Slides)
                {
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE --><img src="@(!string.IsNullOrEmpty(slide.Image)?slide.Image:"images/home/slide-1920x746.jpg")" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-caption--wd-1  lfb ltt" data-x="center" data-y="center" data-voffset="-100" data-speed="600" data-start="800" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 1;">@(slide.Name)</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-caption--wd-3 lfb ltt" data-x="center" data-y="center" data-voffset="-50" data-speed="630" data-start="1000" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 3;">@(slide.Description)</div>
                    <!-- LAYER NR. 3 -->
                    <a href="#modalForm1" class="tp-caption lfb ltt linkbtn modal-popup-link" data-x="center" data-y="center" data-voffset="30" data-hoffset="0" data-speed="600" data-start="1000" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 3;">GỬI YÊU CẦU</a>
                </li>
                }
            </ul>
        </div>
    </div>
</section>

<!-- END REVOLUTION SLIDER -->
<!-- End Slider section -->
<!-- Content section -->
<!--SERVICES-->
<section class="content content--fill content--fill--light top-null">
    <div class="container">
        <div class="services-block">
            @foreach (var service in (List<PostDto>)ViewBag.Services)
            {
                <a href="/post/@(service.Url)" class="service iconmove light">
                    <div class="service-image">
                        <img src="@(string.IsNullOrEmpty(service.SmallImage) ?serviceDefaultBackground[random.Next(0, serviceDefaultBackground.Length)] : service.SmallImage)" a alt="#">
                    </div>
                    <div class="caption">
                        <div class="vert-wrap">
                            <div class="vert">
                                @*<div class="service-icon"><i class="icon first icon-wheelbarrow"></i></div>*@
                                <div class="service-title">@(service.Title)</div>
                                <div class="service-text">@(service.Description)</div>
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
        <h2 class="text-center lined">Giới Thiệu</h2>
        <p class="text-center info-text">
            @company.Description
        </p>
        <div class="row">
            <div class="col-sm-6 animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <div class="text-icon__title">Sứ Mệnh</div>
                <div class="text-icon last">
                    <div class="text-icon__icon"><i class="icon icon-nature-2"></i></div>
                    <div class="text-icon__info">
                        <p>@company.OurMission</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 animation" data-animation="fadeInRight" data-animation-delay="0.5s">
                <div class="text-icon__title">Khách Hàng</div>
                <div class="text-icon last">
                    <div class="text-icon__icon"><i class="icon icon-construction-worker"></i></div>
                    <div class="text-icon__info">
                        <p>@company.OurClients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content content--parallax top-null" data-image="@(!string.IsNullOrEmpty(diffirence?.Image)?diffirence.Image:"/images/home/parallax-bg-2000x1400.jpg")">
    <div class="container">
        <h2 class="text-center white lined">Sự Khác Biệt</h2>
        <div class="iconcircle-wrap">
            @if (!string.IsNullOrEmpty(company.OurDifference1))
            {
                <div class="iconcircle iconmove">
                    <div class="iconcircle__icon"> <span><i class="icon icon-transport"></i></span> </div>
                    <div class="iconcircle__title"> @company.OurDifference1 </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(company.OurDifference2))
            {
                <div class="iconcircle iconmove">
                    <div class="iconcircle__icon"> <span><i class="icon icon-people"></i></span> </div>
                    <div class="iconcircle__title"> @company.OurDifference2 </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(company.OurDifference3))
            {
                <div class="iconcircle iconmove">
                    <div class="iconcircle__icon"> <span><i class="icon icon-phone-auricular"></i></span> </div>
                    <div class="iconcircle__title"> @company.OurDifference3 </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(company.OurDifference4))
            {
                <div class="iconcircle iconmove">
                    <div class="iconcircle__icon"> <span><i class="icon icon-lawn-mowet"></i></span> </div>
                    <div class="iconcircle__title"> @company.OurDifference4 </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(company.OurDifference5))
            {
                <div class="iconcircle iconmove">
                    <div class="iconcircle__icon"> <span><i class="icon icon-analytic-report"></i></span> </div>
                    <div class="iconcircle__title"> @company.OurDifference5 </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="content content--fill content--fill--light top-null">
    <div class="container">
        <div class="row">
            <div class="col-md-8 animation" data-animation="fadeIn" data-animation-delay="0.6s">
                <h2 class="text-center lined">Video Giới Thiệu </h2>
                <div class="video-responsive">
                    <iframe src="@(company.VideoPresentation)" allowfullscreen></iframe>
                </div>
            </div>
            <div class="divider divider--md visible-sm visible-xs"></div>
            <div class="col-md-4 animation" data-animation="fadeIn" data-animation-delay="0.9s">
                <h2 class="text-center lined">Tại Sao Chọn Chúng Tôi</h2>
                <p>
                    @company.WhyChooseUs
                </p>
            </div>
        </div>
    </div>
</section>

@*Galleries - Customer says about us*@
<section class="content content--fill content--fill--light top-null">
    <div class="container">
        @if (galleries.Count > 0)
        {
            <h2 class="text-center lined">Bộ Sửu Tập Ảnh</h2>
            <div class="container">
                <!-- Filters -->
                <section class="filters-by-category">
                    <div class="container">
                        <ul class="option-set" data-option-key="filter">
                            <li><a href="#filter" data-option-value="*" class="selected">All</a></li>

                            @foreach (var group in galleries)
                            {
                                <li><a href="#filter" data-option-value=".categoryId-@(group.FirstOrDefault().Name.GetHashCode())" class="">@group.FirstOrDefault().Name</a></li>
                            }
                        </ul>
                    </div>
                </section>
                <!-- //end Filters -->
                <div class="gallery gallery-isotope" id="gallery">
                    @foreach (var group in galleries)
                {
                    //isFirstGallery = !isFirstGallery;
                    foreach (var gallery in group)
                    {
                        if (isFirstGallery)
                        {
                                <div class="gallery__item doubleW doubleH categoryId-@(gallery.Name.GetHashCode())">
                                    <div class="gallery__item__image"> <img src="@(gallery.Image)" alt="" /> <a class="btn btn--round" href="@(gallery.Image)"><span class="icon icon-magnifying-glass"></span></a> </div>
                                </div>
                                isFirstGallery = !isFirstGallery;
                            }
                            else
                            {
                                <div class="gallery__item categoryId-@(gallery.Name.GetHashCode())">
                                    <div class="gallery__item__image"> <img src="@(gallery.Image)" alt="" /> <a class="btn btn--round" href="@(gallery.Image)"><span class="icon icon-magnifying-glass"></span></a> </div>
                                </div>
                            }

                        }
                    }
                </div>
                <div class="divider divider--md"></div>
                @*<div class="text-center"><a class="btn btn--wd">MORE</a></div>
                    <div class="divider divider--md"></div>*@
            </div>
            <div class="divider"></div>
        }

        <h2 class="text-center lined">Khách Hàng Nói Về Chúng Tôi?</h2>
        <div class="row testimonials-style2-row">
            @foreach (var tes in (List<PostDto>)ViewBag.Testimonials)
            {
                <div class="testimonials-style2 col-sm-6">
                    <div class="testimonials-style2-inside">
                        <div class="testimonials-style2__photo">
                            <img src="@(!string.IsNullOrEmpty(tes.SmallImage)?tes.SmallImage:"images/home/testimonials-author-200x275.jpg")" alt="">
                        </div>
                        <div class="testimonials-style2__text">
                            <p>@(tes.Article?.Content)</p>
                            <div>
                                <span class="testimonials-style2__author">@(tes.Meta),</span>
                                <br><span class="testimonials-style2__post">@(tes.Excerpt?.Content)</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

@*EVENTS*@
@if (events != null)
{
    <section class="content content--parallax top-null" data-image="@(!string.IsNullOrEmpty(events.Image)?events.Image:"/images/home/parallax-bg-2224x1008.jpg")">
        <div class="container">
            <div class="text-banner-light">
                <h3>@(events.Name)</h3>
                <p>@(events.Description)</p>
                <div class="form-popup-wrap">
                    <a href="#modalForm1" class="btn btn--wd btn--invert  modal-popup-link" data-x="center" data-y="center" data-voffset="30" data-hoffset="0" data-speed="600" data-start="1000" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 3;">GỬI YÊU CẦU</a>
                </div>
            </div>
        </div>
    </section>
}

    @*BLOG*@
    <section class="content content--fill content--fill--light top-null">
        <div class="container">
            <h2 class="text-center lined">Tin Mới</h2>
            <div class="row">
                @foreach (var post in (List<PostDto>)ViewBag.Posts)
            {
                    <div class="col-sm-4">
                        <div class="blog-preview animation" data-animation="fadeIn" data-animation-delay="@(indexLastestPost==1?"0s":"0.5s") ">
                            <div class="blog-preview-image">
                                <a href="/post/@(post.Url)">
                                    <img src="@(!string.IsNullOrEmpty(post.SmallImage) ? post.SmallImage : "images/home/img-blog-preview-320x210.jpg")" alt="">
                                </a>
                            </div>
                            <div class="blog-preview-text">
                                <div class="blog-post-title">
                                    @(post.Title)
                                </div>
                                <div class="blog-preview-date">
                                    @*April 18, 2017*@
                                    @(post.PostedOn.ToString("dd/MM/yyyy"))
                                </div>
                                <div class="blog-preview-teaser">
                                    @Html.Raw(post.Excerpt?.Content)
                                </div>
                                <div class="blog-preview-link text-right"><a href="/post/@(post.Url) "><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i></a></div>
                            </div>
                        </div>
                    </div>
                    indexLastestPost++;
                }
            </div>
        </div>
    </section>
    <!-- End Content section -->


    @section modalForm{
        <div id="modalForm1" class="form-modal">
            <form asp-controller="Home" asp-action="Send" method="post" id="form1" class="quote-form" name="quoteform" novalidate>
                <h3>Yêu Cầu</h3>
                <div class="successform successQuote">
                    <p>Your message was sent successfully!</p>
                </div>

                <div class="errorform errorQuote">
                    <div asp-validation-summary="All"></div>
                </div>
                <div class="form-inline">
                    <input type="text" name="name" asp-for="Name" class="form-control input--wd" value="" placeholder="Họ Tên">
                </div>
                <div class="form-inline">
                    <div>
                        <input type="text" name="email" asp-for="Email" class="form-control input--wd" value="" placeholder="Email">
                    </div>
                    <div>
                        <input type="text" name="phone" asp-for="Phone" class="form-control input--wd" value="" placeholder="Điện Thoại">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-inline">
                    <input type="text" name="address" asp-for="Address" class="form-control input--wd" value="" placeholder="Địa chỉ của bạn">
                </div>
                <div class="form-inline">
                    <div class="select-wrapper select--full">
                        @*<select name="select" asp-items="" class="select--wd" asp-for="Service">
                                @foreach (var service in (List<PostDto>)ViewBag.Services)
                                {
                                    <option value="@(service.Title)">@(service.Title)</option>
                                }
                            </select>*@
                        <select asp-for="Service" asp-items="Model.ServiceSelectList" class="select--wd"></select>
                    </div>
                </div>
                <div class="form-inline">
                    <textarea name="message" asp-for="Message" class="form-control input--wd input--full" placeholder="Lời nhắn"></textarea>
                </div>
                <button type="submit" class="btn btn--wd"><i class="icon icon-nature-2"></i>GỬI</button>
            </form>
        </div>
    }

    @section Scripts{
        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
        <script type="text/javascript" src="~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                var fullwidth = "on";
                var fullscreen = "off";
                jQuery('.tp-banner').show().revolution({
                    dottedOverlay: "none",
                    delay: 5000,
                    startwidth: 1920,
                    startheight: 746,
                    hideThumbs: 200,
                    hideTimerBar: "on",
                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "none",
                    navigationArrows: "",
                    navigationStyle: "",
                    touchenabled: "on",
                    onHoverStop: "off",
                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,
                    parallax: "mouse",
                    parallaxBgFreeze: "on",
                    parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                    keyboardNavigation: "off",
                    navigationHAlign: "center",
                    navigationVAlign: "bottom",
                    navigationHOffset: 0,
                    navigationVOffset: 20,
                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,
                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,
                    shadow: 0,
                    fullWidth: fullwidth,
                    fullScreen: fullscreen,
                    spinner: "",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    forceFullWidth: "off",
                    hideThumbsOnMobile: "off",
                    hideNavDelayOnMobile: 1500,
                    hideBulletsOnMobile: "off",
                    hideArrowsOnMobile: "off",
                    hideThumbsUnderResolution: 0,
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    fullScreenOffsetContainer: ".header .navbar-wd"
                });
            }); //ready
        </script>
    }

