
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scriptHead{}


@section loaderWrapper
{
	<!-- Breadcrumb section -->
	<section class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb--wd pull-left">
				<li><a href="index.html">Home</a></li>
				<li class="active">Blog</li>
			</ol>
		</div>
	</section>
}

<!-- Breadcrumb section -->
<section class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb--wd pull-left">
			<li><a href="index.html">Home</a></li>
			<li class="active">Blog</li>
		</ol>
	</div>
</section>
<!-- Content section -->
<section class="content content--fill content--fill--light top-null">
	<div class="container">
		<h1 class="text-center lined">Tin Tức</h1>
		<div class="row">
			@*RIGHT*@
			<div class="col-md-8 column-center">
				@RenderBody()
			</div>

			@*LEFT*@
			<div class="col-md-4 column-right">
				<div class="side-block">
					<h4>New Post</h4>
					@foreach (var post in (List<PostDto>)ViewBag.NewPosts)
					{
						<div class="blog-post post-preview">
							<div class="wrapper">
								<div class="post-image">
									<a href="/post/@post.Url"><img src="@post.IconImage" alt=""></a>
								</div>
								<div class="post-content">
									<div class="post-date-sm">@post.PostedOn.ToString("MMM d, yyyy")</div>
									<h5 class="post-title"><a href="/post/@post.Url">@post.Title</a></h5>
									<div class="post-author-sm">Le Gia</div>
								</div>
							</div>
						</div>
					}
				</div>
				<div class="side-block">
					<h4>Categories</h4>
					<ul class="marker-list">
						@*Chưa count số lượng bài mỗi Category*@
						@*<li><a href="#">Audios  <span>(2)</span></a></li>*@
						@foreach (var category in (List<CategoryDto>)ViewBag.Categories)
						{
							<li><a href="/category/@category.Url">@category.Name</a></li>
						}
					</ul>
				</div>
				<div class="side-block">
					<h4>Tags</h4>
					<ul class="tags-list">
						@foreach (var tag in (List<TagDto>)ViewBag.Tags)
						{
							<li><a href="/tag/@tag.Url">@tag.Name</a></li>
						}
					</ul>
				</div>
				<div class="side-block">
					<h4>Popular Posts</h4>
					@foreach (var post in (List<PostDto>)ViewBag.PopularPosts)
					{
						<div class="blog-post post-preview">
							<div class="wrapper">
								<div class="post-image">
									<a href="/post/@post.Url"><img src="@post.IconImage" alt=""></a>
								</div>
								<div class="post-content">
									<div class="post-date-sm">@post.PostedOn.ToString("MMM d, yyyy")</div>
									<h5 class="post-title"><a href="/post/@post.Url">@post.Title</a></h5>
									<div class="post-author-sm">Le Gia</div>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</section>

@section footerPart{}

@RenderSection("Scripts", required: false)