
@{
    ViewBag.Title = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
    var company = (CompanyDto)ViewBag.Company;
    var aboutType = (AboutType)ViewBag.AboutType;
}

<section class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
            <li><a href="/">Trang Chủ</a></li>
            <li class="active">@(aboutType.GetDescription())</li>
        </ol>
    </div>
</section>

<!-- Content section -->
<section class="content content--fill content--fill--light top-null">

    <div class="container">
        <h1 class="text-center lined">@(aboutType.GetDescription())</h1>
        <div class="row">
            <div class="col-md-12 column-center">
                @{
                    switch (aboutType)
                    {
                        case AboutType.About:
                            @Html.Raw(company.About?.Content)
                            break;
                        case AboutType.Privacy:
                            @Html.Raw(company.Privacy?.Content)
                            break;
                        case AboutType.TermsOfUse:
                            @Html.Raw(company.TermsOfUse?.Content)
                            break;
                        default:
                            break;
                    }
                }

            </div>
        </div>
    </div>
</section>
<!-- End Content section -->
